<div class="devise-contents">
  <h2 class="devise-headline">SIGN UP</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="devise-field">
      <%= f.label :nickname, class:"devise-field__headline" %> <em>(最大６文字)</em><br />
      <%= f.text_field :nickname, autofocus: true, maxlength: "6", class:"devise-field__input"%>
    </div>

    <div class="devise-field">
      <%= f.label :email, class:"devise-field__headline" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-field__input" %>
    </div>

    <div class="devise-field">
      <%= f.label :password, class:"devise-field__headline" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"devise-field__input" %>
    </div>

    <div class="devise-field">
      <%= f.label :password_confirmation, class:"devise-field__headline" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"devise-field__input" %>
    </div>

    <div class="actions">
      <%= f.submit "SIGN UP", class:"devise-btn"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
