.mypage
  .user__posts
    %p.list-title--like
      = "#{@user.nickname}さんのお気に入り"
      .new-posts-index
        - @likes.each do |like|
          .user__post
            = link_to "", post_path(like.post.id)
            .user__post__image
              = image_tag like.post.image.url(:thumb), class: 'show__image--top'
            .user__post__info
              .user__post__info--user
                .user__userimage
                  = image_tag like.post.user.image.url(:thumb100), class: "show__image--user"
                .user__user-status
                  .user__nickname
                    = like.post.user.nickname
              .user__post__info--title
                = like.post.title
              .user__post__info--status
                .user__post-category 
                  = "カテゴリ：#{like.post.category.name}"
                .user__post-area
                  = "#{@places.find(like.post.place_id).parent.parent.name} > #{@places.find(like.post.place_id).parent.name} > #{@places.find(like.post.place_id).name}"
              .user__post__info--like
                .user__post-like
                  - if user_signed_in?
                    - if like.post.liked_by?(current_user)
                      = icon('fas', 'star', class: 'like-icon--fav')
                    - else
                      = icon('fas', 'star', class: 'like-icon--nofav')
                    .show__post-like-count--thumbail
                      = like.post.likes.count
              .user__post__info--time
                %p.create-time
                  = like.post.created_at.to_s(:datetime_jp)
  .right-contents
    .profile
      .profile__user
        .profile__user--image
          = image_tag @user.image.url(:thumb200), class: "show__image--user"
        .profile__user--status
          %p.user-info__nickname
            = link_to "#{@user.nickname}", "/users/#{@user.id}"
        -if user_signed_in? && current_user.id == @user.id
          .profile__user--edit
            = link_to edit_user_path(current_user.id) do
              = icon('fas', 'user-edit', class: 'user-edit-icon')
      %ul.user-connection
        %li.user-connection__list
          %p.user-connection__list--follow フォロー
          = link_to "#{@user.followings.count}", user_relationships_path(@user.id)
        %li.user-connection__list
          %p.user-connection__list--followers フォロワー
          = link_to "#{@user.followers.count}", user_relationships_path(@user.id)
        %li.user-connection__list
          %p.user-connection__list--favorite お気に入り
          = link_to "#{@user.likes.count}", user_likes_path(@user.id)
      .profile__biography
        = simple_format @user.biography
      = render partial: "relationships/follow", locals: { user: @user }
      = link_to "投稿数 #{@user.posts.count}", user_path(@user.id), class: "profile__post"