.new-posts-index
  - @posts.each do |post|
    .user__post
      = link_to "", post_path(post.id)
      .user__post__image
        = image_tag post.image.url(:thumb), class: 'show__image--top'
      .user__post__info
        .user__post__info--user
          .user__userimage
            = image_tag post.user.image.url(:thumb100), class: "show__image--user"
          .user__user-status
            .user__nickname
              = post.user.nickname
        .user__post__info--title
          = post.title
        .user__post__info--status
          .user__post-category 
            = "カテゴリ：#{post.category.name}"
          .user__post-area
            = "#{@places.find(post.place_id).parent.parent.name} > #{@places.find(post.place_id).parent.name} > #{@places.find(post.place_id).name}"
        .user__post__info--like
          .user__post-like
            - if user_signed_in?
              - if post.liked_by?(current_user)
                = icon('fas', 'star', class: 'like-icon--fav')
              - else
                = icon('fas', 'star', class: 'like-icon--nofav')
              .show__post-like-count--thumbail
                = post.likes.count
        .user__post__info--time
          %p.create-time
            = post.created_at.to_s(:datetime_jp)