.new-post-page
  .new-post
    %h2.new-post__heading 投稿を編集
    = render 'layouts/notifications'
    .post-form
      = form_with model: @post, local: true, id:"new_post" do |form|
        .new-image
          = form.label :image, class: 'select-image' do
            = image_tag @post.image.url(:content) if @post.image?
          = form.file_field :image, style: "display: none;"
        .new__required
          %p.new__required--text ※赤字項目、画像は入力必須項目です
        .new__title
          %p.new__title--headline タイトル
          = form.text_field :title, class:"new__title--form", placeholder:"12文字以内", maxlength:'12'
        .select-new
          .select-new__category
            %p.select-new__category--headline カテゴリ
            = form.collection_select(:category_id, @categories, :id, :name, {prompt: "カテゴリを選択してください"}, {class: "select-new__category--box"})
          .select-new__place
            .select-new__place--area
              %p.select-new__place--area--headline エリア
              = form.select :parent_name, @area_array, {selected: @post.place.parent.parent.name}, {class: "area-box",id: 'area'}
            .select-new__place--country
              %p.select-new__place--country--headline 国
              = form.select :child_id, options_for_select(@country_array.map{|b| [b.name, b.id, {data:{place: b.id}}]}, {prompt: "国を選択してください", selected: @post.place.parent.id}),{}, {class: "country-box",id: 'country'}
            .select-new__place--city
              %p.select-new__place--city--headline 都市
              = form.select :place_id, options_for_select(@city_array.map{|b| [b.name, b.id, {data:{place: b.id}}]}, {prompt: "都市を選択してください", selected: @post.place.id}),{}, {class: "city-box",id: 'city'}
        .new__money
          %p.new__money--headline 金額
          = form.text_field :money, class:"new__money--form", placeholder:"入場料・価格などを入力してください"
        .new__address
          %p.new__address--headline 住所
          = form.text_field :address, class:"new__address--form", placeholder:"お土産などは購入したお店を入力してください"
        .new__text
          %p.new__text--headline 本文
          = form.text_area :text, placeholder: "本文を入力してください", class: "new__text--form"
        .new__submit
          = form.submit '変更する', class: "new__submit--btn"
  .right-contents
    .profile
      .profile__user
        .profile__user--image
          = image_tag @user_image.url(:thumb200), class: "show__image--user"
        .profile__user--status
          %p.user-info__nickname
            = link_to "#{@nickname}", "/users/#{@user_id}"
        -if user_signed_in? && current_user.id
          .profile__user--edit
            = link_to edit_user_path(current_user.id) do
              = icon('fas', 'user-edit', class: 'user-edit-icon')
      %ul.user-connection
        %li.user-connection__list
          %p.user-connection__list--follow フォロー
          = link_to "#{current_user.followings.count}", user_relationships_path(current_user.id)
        %li.user-connection__list
          %p.user-connection__list--followers フォロワー
          = link_to "#{current_user.followers.count}", user_relationships_path(current_user.id)
        %li.user-connection__list
          %p.user-connection__list--favorite お気に入り
          = link_to "#{current_user.likes.count}",user_likes_path(current_user.id)
      .profile__biography
        = simple_format @user_biography
      = link_to "投稿数 #{current_user.posts.count}", user_path(current_user.id), class: "profile__post"