.show-post-page
  .show-post
    .show-post--one
      .show__image
        = image_tag @post.image.url(:content), class: 'show__image--show'
      .show__titleandedit
        .show__title
          = @post.title
        .show__post-like
          = render partial: "likes/like", locals: { post: @post }
        - if user_signed_in? && current_user.id == @post.user_id
          .show__post-user
            .show__edit
              = link_to edit_post_path(@post.id) do
                = icon('fas', 'edit fa-2x', class: 'edit-icon')
            .show__destroy
              = link_to post_path(@post.id), method: :delete, data: { confirm: '投稿を削除しますか？' } do
                = icon('fas', 'trash-alt fa-2x', class: 'trash-icon')
      .show__time
        = @post.created_at.to_s(:datetime_jp)
      .show__category
        = "カテゴリ：#{@post.category.name}"
      .show__money
        = icon('fas', 'comment-dollar', class: 'dollar-icon')
        = @post.money
      .show__address
        = icon('fas', 'map-marker-alt', class: 'map-icon')
        = @post.address
      .show__text
        = simple_format @post.text
      .show__comments
        %P.show__comments--title 
          = icon('far', 'comment-dots', class: 'comment-icon')
          コメント
          .show__comment--area
            - if @comments
              - @comments.each do |comment|
                .show__comments--comment
                  %p.comment-user
                    = link_to "#{comment.user.nickname}", "/users/#{comment.user.id}"
                  %p.comment-text
                    = comment.text
        .show__comments--form
          = form_with model: [@post,@comment], local: true, id:"new_comment" do |form|
            .form__comment
              = form.text_area :text, placeholder: "コメント",class:'new_comment_text'
              = form.submit 'コメントする', class: 'new_comment_btn'
  .profile
    .profile__user
      .profile__user--image
        = image_tag @post.user.image.url(:thumb200), class: "show__image--user"
      .profile__user--status
        %p.user-info__nickname
          = link_to "#{@post.user.nickname}", "/users/#{@post.user.id}"
      -if user_signed_in? && current_user.id == @post.user_id
        .profile__user--edit
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'user-edit', class: 'user-edit-icon')
    %ul.user-connection
      %li.user-connection__list
        %p.user-connection__list--follow フォロー
        = link_to "2", "#"
      %li.user-connection__list
        %p.user-connection__list--followers フォロワー
        = link_to "1", "#"
      %li.user-connection__list
        %p.user-connection__list--favorite お気に入り
        = link_to "#{@post.likes.count}",user_likes_path(@post.user.id)
    .profile__biography
      = simple_format @post.user.biography
    = link_to "投稿数 #{@post.user.posts.count}", user_path(@post.user.id), class: "profile__post"
