!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TabiTime
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__contents
          .site__top
            %h1.site__top--title 
              =link_to "たびたいむ", "/"
            %p.site__top--catch-copy 気軽に旅の思い出を残そう
          .user-info
            - if user_signed_in?
              = link_to "新規投稿", new_post_path class: "user-info__current"
              = link_to "ログアウト", destroy_user_session_path, method: :delete class: "user-info__status"
            - else
              = link_to "新規登録", new_user_registration_path, class: "user-info__current"
              = link_to "ログイン", new_user_session_path class: "user-info__status"
      .content
        .left-content
        .main
          .main__contents
            = yield
          .footer
            %p.footer-copyright Copyright © 2020 Tabi-Time All Rights Reserved.